
TrackerLibrary/bin/Debug/netstandard2.0/TrackerLibrary.dll
TrackerLibrary/bin/Debug/netstandard2.0/TrackerLibrary.pdb
TrackerLibrary/MatchupEntryModel.cs
TrackerLibrary/MatchupModel.cs
TrackerLibrary/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
TrackerLibrary/obj/Debug/netstandard2.0/TrackerLibrary.AssemblyInfo.cs
TrackerLibrary/obj/Debug/netstandard2.0/TrackerLibrary.AssemblyInfoInputs.cache
TrackerLibrary/obj/Debug/netstandard2.0/TrackerLibrary.assets.cache
TrackerLibrary/obj/Debug/netstandard2.0/TrackerLibrary.csproj.CoreCompileInputs.cache
TrackerLibrary/obj/Debug/netstandard2.0/TrackerLibrary.csproj.FileListAbsolute.txt
TrackerLibrary/obj/Debug/netstandard2.0/TrackerLibrary.csprojAssemblyReference.cache
TrackerLibrary/obj/Debug/netstandard2.0/TrackerLibrary.dll
TrackerLibrary/obj/Debug/netstandard2.0/TrackerLibrary.pdb
TrackerLibrary/obj/project.assets.json
TrackerLibrary/obj/project.nuget.cache
TrackerLibrary/obj/TrackerLibrary.csproj.nuget.dgspec.json
TrackerLibrary/obj/TrackerLibrary.csproj.nuget.g.props
TrackerLibrary/obj/TrackerLibrary.csproj.nuget.g.targets
TrackerLibrary/PersonModel.cs
TrackerLibrary/PrizeModel.cs
TrackerLibrary/TeamModel.cs
TrackerLibrary/TournamentModel.cs
TrackerLibrary/TrackerLibrary.csproj
TrackerUI/App.config
TrackerUI/bin/Debug/aa-ET/TrackerUI.resources.dll
TrackerUI/bin/Debug/TrackerUI.exe
TrackerUI/bin/Debug/TrackerUI.exe.config
TrackerUI/bin/Debug/TrackerUI.pdb
TrackerUI/CreatePrizeForm.cs
TrackerUI/CreatePrizeForm.Designer.cs
TrackerUI/CreatePrizeForm.resx
TrackerUI/CreateTeamForm.cs
TrackerUI/CreateTeamForm.Designer.cs
TrackerUI/CreateTeamForm.resx
TrackerUI/CreateTournamentForm.aa-ET.resx
TrackerUI/CreateTournamentForm.cs
TrackerUI/CreateTournamentForm.Designer.cs
TrackerUI/CreateTournamentForm.resx
TrackerUI/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TrackerUI/obj/Debug/aa-ET/TrackerUI.resources.dll
TrackerUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
TrackerUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TrackerUI/obj/Debug/TrackerUI.CreatePrizeForm.resources
TrackerUI/obj/Debug/TrackerUI.CreateTeamForm.resources
TrackerUI/obj/Debug/TrackerUI.CreateTournamentForm.aa-ET.resources
TrackerUI/obj/Debug/TrackerUI.CreateTournamentForm.resources
TrackerUI/obj/Debug/TrackerUI.csproj.CoreCompileInputs.cache
TrackerUI/obj/Debug/TrackerUI.csproj.FileListAbsolute.txt
TrackerUI/obj/Debug/TrackerUI.csproj.GenerateResource.cache
TrackerUI/obj/Debug/TrackerUI.csprojAssemblyReference.cache
TrackerUI/obj/Debug/TrackerUI.exe
TrackerUI/obj/Debug/TrackerUI.pdb
TrackerUI/obj/Debug/TrackerUI.Properties.Resources.resources
TrackerUI/obj/Debug/TrackerUI.TournamentDashboardForm.resources
TrackerUI/obj/Debug/TrackerUI.TournamentViewerForm.resources
